/* --GENERAl-- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.green{
    color: rgb(74, 200, 0);
}

.red{
    color: rgb(217, 24, 0);
}
/* --HEADER-- */

#header{
    height: 50px;
    width: 100%;
    background-color: black;
    text-align: end;
    padding: 1px 1px;
    position: sticky;
}

#header span {
    background-color: grey;
    color: white;
    font-size: 10px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

/* --MAIN-- */

.container{
    background-color: black;
    height: calc(100vh - 50px - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px ;
    overflow: scroll;
}

.card{
    background-color: black;
    margin:  1px;
    height: 200px;
    width: 300px;
    position: relative;
}

.name{
    position: absolute;
    bottom: 15px;
    left: 1px;
    color: white;
    background-color: grey;
}

/* --FOOTER-- */

#footer{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:10px 10px ;
    background-color: rgb(34, 34, 34);
    color: white;
}

/* --FOOTER-LEFT-- */


#footer .footer-left{
    display: flex;
    text-align: center;
}

.icon {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.icon-block{
    justify-content: center;
    align-self: center;
    margin: 0 10px;
}

.icon-description {
    font-size: 10px;
}



/* --FOOTER-CENTER-- */

#footer .footer-center{
    display: flex;
    text-align: center;
    gap: 15px;
}

/* --FOOTER-RIGHT-- */

.footer-right{
    background-color: rgb(74, 74, 74);
    padding: 10px;
    cursor: pointer;
}


